server:
  port: ${SERVER_PORT:8083}

spring:
  application:
    name: course-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres-course}:${DB_PORT:5432}/${DB_NAME:course_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}

user-service:
  base-url: ${USER_SERVICE_URL:http://user-service:8082}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui