server:
  port: ${SERVER_PORT:8084}

spring:
  application:
    name: learning-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres-learning}:${DB_PORT:5432}/${DB_NAME:learning_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}

course-service:
  base-url: ${COURSE_SERVICE_URL:http://course-service:8083}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui